extends ../layout/main/index


block content

  - var mock = [{id: 1, title: 'Lorem ipsum dolor sit amet, consectetur', price: 3000}, {id: 2, title: 'adipisicing elit. Accusamus aperiam,', price: 3000}, {id: 3, title: 'architecto distinctio ducimus incidunt iste', price: 3000}, {id: 4, title: 'laudantium maiores perferendis porro provident quibusdam', price: 3000}, {id: 5, title: 'sit temporibus totam, vero voluptatum? Eum provident quaerat quia.', price: 3000}, {id: 6, title: 'odit officia placeat quisquam saepe totam ullam vero!', price: 3000}, {id: 7, title: 'excepturi fugit illum iste, labore modi nihil', price: 3000}, {id: 8, title: 'A, adipisci at cupiditate deleniti doloremque error ', price: 3000}, {id: 9, title: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. ', price: 3000}, {id: 9, title: 'nihil numquam, perferendis, porro quam sapiente unde. Quasi.', price: 3000}];

  section.section(
    class="grid grid-cols-12"
  )
    div.row(
      class="" +
      "grid col-span-12 " +
      "lg:col-span-9"
    )
      +gridNxN(mock)

    div.row(
      class="" +
      "hidden " +
      "grid " +
      "lg:col-span-3 lg:block"
    )
      p sadfasd

