//noinspection ALL for Tailwind Css Framework
@tailwind base;
//noinspection ALL for Tailwind Css Framework
@tailwind components;
//noinspection ALL for Tailwind Css Framework
@tailwind utilities;

// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Fonts
@import 'fonts';


.gridNxN-desc-card_attr:before,
.gridNx2-desc_card-attr:before{
  content: "";
  padding-top: 100%;
  display: block;
}
.gridNxN-desc-card_attr:after,
.gridNx2-desc_card-attr:after{
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255);
  pointer-events: none;
  margin: auto;

  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.gridNxN-desc-card_attr-image,
.gridNx2-desc_card-attr-image {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}


.slide_category-desc {
  -webkit-overflow-scrolling: touch;
}


@media (max-width: 1024px) {
  .gridNx2-desc_card:nth-child(7),
  .gridNx2-desc_card:nth-child(8) {
    display: none;
  }
}

@media (min-width: 1024px) {
  .gridNx2-desc_card:nth-child(7),
  .gridNx2-desc_card:nth-child(8) {
    display: block;
  }
}
