mixin header()
  header.header

    // FOR MOBILE AND TABLET
    div(class="lg:hidden")
      +headerNav
      +searchbar

    // FOR DESKTOP
    div(class="hidden lg:block")
      +headerTop
      +divider-y(4)
      +headerMain
